@import "extend";

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 8px;
    width: 100%;
    max-width: 1200px;
    margin: 0 0;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    max-height: 500px;
    margin: 15px;
    @extend .style-images;
    transition: all .3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba($color: #000000, $alpha: .2);
    transition: all .4s;
}